<div class="qili-header">
  <div class="qili-header-left-section">
    <a href="index.html" class="header-link">
      <img class="qili-logo" src="images/qili-logo-white.jpg"  width="40">
      <img class="qili-mobile-logo" src="images/qili-mobile-logo-white.jpg" width="40">
    </a>
  </div>

  <div class="qili-header-middle-section">
    <input class="search-bar" type="text" placeholder="Search">
    <button class="search-button">
      <img class="search-icon" src="images/icons/search-icon.png">
    </button>
  </div>
  <div class="qili-header-right-section">
    <!-- Temporarily commented out for future reuse -->
    <!-- 
    <a class="orders-link header-link" href="orders.html">
      <span class="returns-text">Returns</span>
      <span class="orders-text">& Orders</span>
    </a>

    <a class="cart-link header-link" href="checkout.html">
      <img class="cart-icon" src="images/icons/cart-icon.png">
      <div class="cart-quantity js-cart-quantity">0</div>
      <div class="cart-text">Cart</div>
    </a>
    -->
  </div>
</div>
