<div class="departments-sidebar">
  <div class="departments-items">
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Inkjet Printers')">Inkjet Printers</a>
      <div class="submenu">
        <!-- Direct to Fabric & Film Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Direct to Fabric & Film')" data-subheader="Inkjet Printers">Direct to Fabric & Film</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('DTF Printer')">DTF Printer</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV DTF Printer')">UV DTF Printer</a>
          </div>
        </div>

        <!-- Eco-Solvent Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllEconomicVersionPrinters && window.loadAllEconomicVersionPrinters(); window.location.hash = 'eco-solvent-inkjet-printers'" data-subheader="Inkjet Printers">Eco-Solvent Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Eco-Solvent Inkjet Printers - With XP600 Printhead')">XP600 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Eco-Solvent Inkjet Printers - With I1600 Printhead')">I1600 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Eco-Solvent Inkjet Printers - With I3200 Printhead')">I3200 Printhead</a>
          </div>
        </div>

        <!-- Solvent Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Solvent Inkjet Printers')" data-subheader="Inkjet Printers">Solvent Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Solvent Inkjet Printers - With Ricoh Gen5 Printhead')">Ricoh Gen5</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Solvent Inkjet Printers - With Ricoh Gen6 Printhead')">Ricoh Gen6</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Solvent Inkjet Printers - With Konica KM512i Printhead')">Konica KM512i</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Solvent Inkjet Printers - With Konica KM1024i Printhead')">Konica KM1024i</a>
          </div>
        </div>

        <!-- UV Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers')" data-subheader="Inkjet Printers">UV Inkjet Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers - With XP600 Printhead')">XP600 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers - With I1600 Printhead')">I1600 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers - With I3200 Printhead')">I3200 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers - With Ricoh Gen5 Printhead')">Ricoh Gen5</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers - With Ricoh Gen6')">Ricoh Gen6</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Inkjet Printers - With Konica KM1024i Printhead')">Konica KM1024i</a>            
          </div>
        </div>

        <!-- UV Flatbed Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Flatbed Printers')" data-subheader="Inkjet Printers">UV Flatbed Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Flatbed Printers - With XP600 Printhead')">XP600 Printhead</a>            
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Flatbed Printers - With I3200 Printhead')">I3200 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Flatbed Printers - With Ricoh Gen5 Printhead')">Ricoh Gen5</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Flatbed Printers - With Ricoh Gen6 Printhead')">Ricoh Gen6</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Flatbed Printers - With Konica KM1024i Printheads')">Konica KM1024i</a>            
          </div>
        </div>

        <!-- UV Hybrid Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Hybrid Inkjet Printer')" data-subheader="Inkjet Printers">UV Hybrid Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Hybrid Inkjet Printer - With Ricoh Gen6 Printheads')">Ricoh Gen6</a>            
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('UV Hybrid Inkjet Printer - With Konica KM1024i Printheads')">Konica KM1024i</a>
          </div>
        </div>

        <!-- Sublimation Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Sublimation Printers')" data-subheader="Inkjet Printers">Sublimation Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Sublimation Printers - With XP600 Printhead')">XP600 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Sublimation Printers - With I1600 Printhead')">I1600 Printhead</a>
            <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Sublimation Printers - With I3200 Printhead')">I3200 Printhead</a>            
          </div>
        </div>

        <!-- Double Side Printers Section -->
        <div class="department-subgroup">
          <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllDoubleSidePrinters && window.loadAllDoubleSidePrinters(); window.location.hash = 'double-side-printers'" data-subheader="Inkjet Printers">Double Side Printers</a>
          <div class="submenu">
            <a class="department-link" href="javascript:void(0)" onclick="window.loadDoubleSideDirectPrinting && window.loadDoubleSideDirectPrinting(); window.location.hash = 'double-side-printers---direct-printing'">Direct Printing</a>
          </div>
        </div>
      </div>
    </div>
    <div class="department-group">          
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllPrintheadProducts && window.loadAllPrintheadProducts(); window.location.hash = 'print-heads'">Print Heads</a>          
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('canon'); window.location.hash = 'printheads-canon'">Canon Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('epson'); window.location.hash = 'printheads-epson'">Epson Printhead</a>
        <!--
        <a class="department-link" href="#">Encad Printhead</a>
        <a class="department-link" href="#">HP Printhead</a>
        -->
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('konica'); window.location.hash = 'printheads-konica'">Konica Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('kyocera'); window.location.hash = 'printheads-kyocera'">Kyocera Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('mimaki'); window.location.hash = 'printheads-mimaki'">Mimaki Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('mutoh'); window.location.hash = 'printheads-mutoh'">Mutoh Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('ricoh'); window.location.hash = 'printheads-ricoh'">Ricoh Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('roland'); window.location.hash = 'printheads-roland'">Roland Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('seiko'); window.location.hash = 'printheads-seiko'">Seiko Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('spectra'); window.location.hash = 'printheads-spectra'">Spectra Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('toshiba'); window.location.hash = 'printheads-toshiba'">Toshiba Printhead</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadPrintheadProducts('xaar'); window.location.hash = 'printheads-xaar'">Xaar Printhead</a>
      </div>
    </div>
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadPrintSpareParts && window.loadPrintSpareParts()">Print Spare Parts</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Epson Printer Spare Parts')">Epson Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Roland Printer Spare Parts')">Roland Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Mutoh Printer Spare Parts')">Mutoh Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Mimaki Printer Spare Parts')">Mimaki Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Canon Printer Spare Parts')">Canon Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Ricoh Printer Spare Parts')">Ricoh Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('HP Printer Spare Parts')">HP Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Brother Printer Spare Parts')">Brother Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Pall Printer Spare Parts')">Pall Printer Spare Parts</a>
        
        <!-- TEMPORARILY HIDDEN PRINTER BRANDS - KEPT FOR FUTURE REUSE -->
        <!-- 
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Allwin Printer Spare Parts')">Allwin Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Flora Printer Spare Parts')">Flora Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Galaxy Printer Spare Parts')">Galaxy Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Gongzheng / GZ Printer Spare Parts')">Gongzheng / GZ Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Infiniti / Challenger Printer Spare Parts')">Infiniti / Challenger Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Locor Printer Spare Parts')">Locor Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Phaeton Printer Spare Parts')">Phaeton Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Skycolor Printer Spare Parts')">Skycolor Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Wit-color Printer Spare Parts')">Wit-color Printer Spare Parts</a>
        -->
        
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Atexco Printer Spare Parts')">Atexco Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Crystaljet Printer Spare Parts')">Crystaljet Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('DGI Printer Spare Parts')">DGI Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Encad Printer Spare Parts')">Encad Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Fortune-Lit Printer Spare Parts')">Fortune-Lit Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Human Printer Spare Parts')">Human Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Icontek Printer Spare Parts')">Icontek Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('JHF Printer Spare Parts')">JHF Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Liyu Printer Spare Parts')">Liyu Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Myjet Printer Spare Parts')">Myjet Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Ricoh Printer Spare Parts')">Ricoh Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Seiko Printer Spare Parts')">Seiko Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Teckwin Printer Spare Parts')">Teckwin Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Videojet Printer Spare Parts')">Videojet Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('XENONS Printer Spare Parts')">XENONS Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Xuli Printer Spare Parts')">Xuli Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Yongli Printer Spare Parts')">Yongli Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Zhongye Printer Spare Parts')">Zhongye Printer Spare Parts</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('H-E parts')">H-E parts</a>
      </div>
    </div>
    <div class="department-group">          
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllUpgradingKitProducts && window.loadAllUpgradingKitProducts(); window.location.hash = 'upgrading-kit'">Upgrading Kit</a>          
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="handleUpgradingKitClick('hoson')">Hoson Upgrading Kits</a>
        <a class="department-link" href="javascript:void(0)" onclick="handleUpgradingKitClick('mimaki')">Mimaki Upgrading Kits</a>
        <a class="department-link" href="javascript:void(0)" onclick="handleUpgradingKitClick('mutoh')">Mutoh Upgrading Kits</a>
        <a class="department-link" href="javascript:void(0)" onclick="handleUpgradingKitClick('roll_to_roll_style')">Roll to Roll Style</a>
        <a class="department-link" href="javascript:void(0)" onclick="handleUpgradingKitClick('uv_flatbed')">UV Flatbed Kits</a>
        <a class="department-link" href="javascript:void(0)" onclick="handleUpgradingKitClick('without_cable_work')">Without Cable Work</a>
      </div>
    </div>
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllMaterialProducts && window.loadAllMaterialProducts(); window.location.hash = 'material'">Material</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="loadMaterialProducts('adhevie'); window.location.hash = 'material-adhevie'">Adhevie Material</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadMaterialProducts('flex'); window.location.hash = 'material-flex'">Flex Material</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadMaterialProducts('ink'); window.location.hash = 'material-ink'">Ink Material</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadMaterialProducts('mesh'); window.location.hash = 'material-mesh'">Mesh Material</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadMaterialProducts('oneway'); window.location.hash = 'material-oneway'">Oneway Material</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadMaterialProducts('photo'); window.location.hash = 'material-photo'">Photo Material</a>
      </div>
    </div>
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllLedLcdProducts && window.loadAllLedLcdProducts(); window.location.hash = 'led-lcd'">LED & LCD</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="loadLedLcdProducts('display'); window.location.hash = 'led-lcd-display'">Display LED & LCD</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadLedLcdProducts('outdoor'); window.location.hash = 'led-lcd-outdoor'">Outdoor LED & LCD</a>
      </div>
    </div>
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllChannelLetterProducts && window.loadAllChannelLetterProducts(); window.location.hash = 'channel-letter'">Channel Letter</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="loadChannelLetterProducts('aluminum'); window.location.hash = 'channel-letter-aluminum'">Aluminum</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadChannelLetterProducts('automatic'); window.location.hash = 'channel-letter-automatic'">Automatic</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadChannelLetterProducts('letter'); window.location.hash = 'channel-letter-letter'">Letter</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadChannelLetterProducts('plate'); window.location.hash = 'channel-letter-plate'">Plate</a>
        <a class="department-link" href="javascript:void(0)" onclick="loadChannelLetterProducts('special'); window.location.hash = 'channel-letter-special'">Special</a>
      </div>
    </div>
    <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Laser')">Laser</a>
    <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Cutting')">Cutting</a>
    <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('CNC')">CNC</a>
    <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Displays')">Displays</a>
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadAllOtherProducts && window.loadAllOtherProducts(); window.location.hash = 'other'">Other</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="loadOtherProducts('spectrophotometer'); window.location.hash = 'other-spectrophotometer'">Spectrophotometer</a>      </div>
    </div>
  </div>
</div>